/*

Theme Name:   Nico Hen Custom Theme

Theme URI:    http://architects.agency

Description:  A custom theme for Nicolas Hen.

Author:       ACA

Author URI:   http://architects.agency

Version:      0.5

*/

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

/* line 5, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */

html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td,

article, aside, canvas, details, embed,

figure, figcaption, footer, header, hgroup,

menu, nav, output, ruby, section, summary,

time, mark, audio, video {

  margin: 0;

  padding: 0;

  border: 0;

  font: inherit;

  font-size: 100%;

  vertical-align: baseline; }



/* line 22, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */

html {

  line-height: 1; }



/* line 24, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */

ol, ul {

  list-style: none; }



/* line 26, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */

table {

  border-collapse: collapse;

  border-spacing: 0; }



/* line 28, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */

caption, th, td {

  text-align: left;

  font-weight: normal;

  vertical-align: middle; }



/* line 30, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */

q, blockquote {

  quotes: none; }

  /* line 103, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */

  q:before, q:after, blockquote:before, blockquote:after {

    content: "";

    content: none; }



/* line 32, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */

a img {

  border: none; }



/* line 116, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {

  display: block; }



/* line 17, lib/styles/util/_clearfix.scss */

.clfx {

  *zoom: expression(this.runtimeStyle.zoom="1",this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");

  *zoom: 1; }

  /* line 5, lib/styles/util/_clearfix.scss */

  .clfx:before, .clfx:after {

    content: " ";

    display: table; }

  /* line 9, lib/styles/util/_clearfix.scss */

  .clfx:after {

    clear: both; }



/* line 6, lib/styles/util/_contect-colors.scss */

.txt-pmy {

  display: inline;

  color: black; }



/* line 6, lib/styles/util/_contect-colors.scss */

.txt-scs {

  display: inline;

  color: #40B485; }



/* line 6, lib/styles/util/_contect-colors.scss */

.txt-wrn {

  display: inline;

  color: #FABE00; }



/* line 6, lib/styles/util/_contect-colors.scss */

.txt-err {

  display: inline;

  color: #DD3344; }



/* line 6, lib/styles/util/_contect-colors.scss */

.txt-lbl {

  display: inline;

  color: #999999; }



/* line 16, lib/styles/util/_contect-colors.scss */

.bgc-pmy,

.clickful.item:hover {

  display: inline-block;

  color: #FEFEFE;

  background-color: black; }



/* line 16, lib/styles/util/_contect-colors.scss */

.bgc-scs {

  display: inline-block;

  color: #FEFEFE;

  background-color: #40B485; }



/* line 16, lib/styles/util/_contect-colors.scss */

.bgc-wrn {

  display: inline-block;

  color: #FEFEFE;

  background-color: #FABE00; }



/* line 16, lib/styles/util/_contect-colors.scss */

.bgc-err {

  display: inline-block;

  color: #FEFEFE;

  background-color: #DD3344; }



/* line 16, lib/styles/util/_contect-colors.scss */

.bgc-lbl {

  display: inline-block;

  color: #FEFEFE;

  background-color: #999999; }



/* line 1, lib/styles/util/_current.scss */

[class*="current"] {

  background: black;

  color: #FEFEFE; }



/* line 25, lib/styles/util/_display.scss */

.d-ib {

  display: inline-block; }



/* line 25, lib/styles/util/_display.scss */

.d-i {

  display: inline; }



/* line 25, lib/styles/util/_display.scss */

.d-b {

  display: block; }



/* line 25, lib/styles/util/_display.scss */

.d-n {

  display: none; }



/* line 25, lib/styles/util/_display.scss */

.vis-v {

  visibility: visible; }



/* line 25, lib/styles/util/_display.scss */

.vis-h {

  visibility: hidden; }



/* line 25, lib/styles/util/_display.scss */

.op-0 {

  opacity: 0; }



/* line 25, lib/styles/util/_display.scss */

.op-1 {

  opacity: 1; }



/* line 4, lib/styles/util/_helpers.scss */

.clickless {

  pointer-events: none;

  -moz-user-select: -moz-none;

  -ms-user-select: none;

  -webkit-user-select: none;

  user-select: none; }



/* line 9, lib/styles/util/_helpers.scss */

.clickful {

  color: inherit;

  -moz-user-select: -moz-none;

  -ms-user-select: none;

  -webkit-user-select: none;

  user-select: none;

  cursor: pointer;

  text-decoration: none; }



/* line 23, lib/styles/util/_helpers.scss */

.ta-r {

  text-align: right; }



/* line 23, lib/styles/util/_helpers.scss */

.ta-c {

  text-align: center; }



/* line 23, lib/styles/util/_helpers.scss */

.ta-l {

  text-align: left; }



/* line 30, lib/styles/util/_helpers.scss */

.bdr-t {

  border-top: 1px solid #DDDDDD; }



/* line 30, lib/styles/util/_helpers.scss */

.bdr-r {

  border-right: 1px solid #DDDDDD; }



/* line 30, lib/styles/util/_helpers.scss */

.bdr-b {

  border-bottom: 1px solid #DDDDDD; }



/* line 30, lib/styles/util/_helpers.scss */

.bdr-l {

  border-left: 1px solid #DDDDDD; }



/* line 30, lib/styles/util/_helpers.scss */

.bdr-v {

  border-top: 1px solid #DDDDDD;

  border-bottom: 1px solid #DDDDDD; }



/* line 30, lib/styles/util/_helpers.scss */

.bdr-h {

  border-right: 1px solid #DDDDDD;

  border-left: 1px solid #DDDDDD; }



/* line 30, lib/styles/util/_helpers.scss */

.bdr-a {

  border-top: 1px solid #DDDDDD;

  border-right: 1px solid #DDDDDD;

  border-bottom: 1px solid #DDDDDD;

  border-left: 1px solid #DDDDDD; }



/* line 44, lib/styles/util/_helpers.scss */

.fl-r {

  float: right; }



/* line 44, lib/styles/util/_helpers.scss */

.fl-l {

  float: left; }



/* line 44, lib/styles/util/_helpers.scss */

.fl-n {

  float: none; }



/* line 2, lib/styles/util/_inline-list.scss */

.inline-list li, .menu li, .inline-list .menu--item, .menu .menu--item {

  display: inline-block; }



/* line 7, lib/styles/util/_txt-display.scss */

.content h6 {

  font-size: 19.66667px;

  line-height: 29.5px;

  font-weight: 300;

  color: #999999; }

  /* line 17, lib/styles/util/_txt-display.scss */

  .content h6.txt-display-ruled {

    border-bottom: 1px solid #DDDDDD; }



/* line 7, lib/styles/util/_txt-display.scss */

.content h5 {

  font-size: 26.66667px;

  line-height: 40px;

  font-weight: 300;

  color: #999999; }

  /* line 17, lib/styles/util/_txt-display.scss */

  .content h5.txt-display-ruled {

    border-bottom: 1px solid #DDDDDD; }



/* line 7, lib/styles/util/_txt-display.scss */

.content h4 {

  font-size: 33.66667px;

  line-height: 50.5px;

  font-weight: 300;

  color: #999999; }

  /* line 17, lib/styles/util/_txt-display.scss */

  .content h4.txt-display-ruled {

    border-bottom: 1px solid #DDDDDD; }



/* line 7, lib/styles/util/_txt-display.scss */

h1, h2, h3, h4, h5, h6, .content h3 {

  font-size: 40.66667px;

  line-height: 61px;

  font-weight: 100; }

  /* line 17, lib/styles/util/_txt-display.scss */

  h1.txt-display-ruled, h2.txt-display-ruled, h3.txt-display-ruled, h4.txt-display-ruled, h5.txt-display-ruled, h6.txt-display-ruled {

    border-bottom: 1px solid #DDDDDD; }



/* line 7, lib/styles/util/_txt-display.scss */

.content h2 {

  font-size: 47.66667px;

  line-height: 71.5px;

  font-weight: 100; }

  /* line 17, lib/styles/util/_txt-display.scss */

  .content h2.txt-display-ruled {

    border-bottom: 1px solid #DDDDDD; }



/* line 7, lib/styles/util/_txt-display.scss */

.content h1 {

  font-size: 54.66667px;

  line-height: 82px;

  font-weight: 700; }

  /* line 17, lib/styles/util/_txt-display.scss */

  .content h1.txt-display-ruled {

    border-bottom: 1px solid #DDDDDD; }



/* line 1, lib/styles/base/_0-normalize.scss */

html {

  font-family: sans-serif;

  -ms-text-size-adjust: 100%;

  -webkit-text-size-adjust: 100%; }



/* line 7, lib/styles/base/_0-normalize.scss */

body {

  margin: 0; }



/* line 11, lib/styles/base/_0-normalize.scss */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {

  display: block; }



/* line 15, lib/styles/base/_0-normalize.scss */

audio, canvas, progress, video {

  display: inline-block;

  vertical-align: baseline; }



/* line 20, lib/styles/base/_0-normalize.scss */

audio:not([controls]) {

  display: none;

  height: 0; }



/* line 25, lib/styles/base/_0-normalize.scss */

[hidden], template {

  display: none; }



/* line 29, lib/styles/base/_0-normalize.scss */

a {

  background: transparent; }



/* line 33, lib/styles/base/_0-normalize.scss */

a:active, a:hover {

  outline: 0; }



/* line 37, lib/styles/base/_0-normalize.scss */

abbr[title] {

  border-bottom: 1px dotted; }



/* line 41, lib/styles/base/_0-normalize.scss */

b, strong {

  font-weight: bold; }



/* line 45, lib/styles/base/_0-normalize.scss */

dfn {

  font-style: italic; }



/* line 49, lib/styles/base/_0-normalize.scss */

mark {

  background: #ff0;

  color: #000; }



/* line 54, lib/styles/base/_0-normalize.scss */

small {

  font-size: 0.875rem; }



/* line 58, lib/styles/base/_0-normalize.scss */

sub, sup {

  font-size: 0.775rem;

  line-height: 0;

  position: relative;

  vertical-align: baseline; }



/* line 65, lib/styles/base/_0-normalize.scss */

sup {

  top: -0.5em; }



/* line 69, lib/styles/base/_0-normalize.scss */

sub {

  bottom: -0.25em; }



/* line 73, lib/styles/base/_0-normalize.scss */

img {

  border: 0; }



/* line 77, lib/styles/base/_0-normalize.scss */

svg:not(:root) {

  overflow: hidden; }



/* line 81, lib/styles/base/_0-normalize.scss */

figure {

  margin: 1em 40px; }



/* line 85, lib/styles/base/_0-normalize.scss */

hr {

  -moz-box-sizing: content-box;

  box-sizing: content-box;

  height: 0; }



/* line 91, lib/styles/base/_0-normalize.scss */

pre {

  overflow: auto; }



/* line 95, lib/styles/base/_0-normalize.scss */

code, kbd, pre, samp {

  font-family: monospace,monospace;

  font-size: 1em; }



/* line 100, lib/styles/base/_0-normalize.scss */

button, input, optgroup, select, textarea {

  color: inherit;

  font: inherit;

  margin: 0; }



/* line 106, lib/styles/base/_0-normalize.scss */

button {

  overflow: visible; }



/* line 110, lib/styles/base/_0-normalize.scss */

button, select {

  text-transform: none; }



/* line 114, lib/styles/base/_0-normalize.scss */

button, html input[type="button"], input[type="reset"], input[type="submit"] {

  -webkit-appearance: button;

  cursor: pointer; }



/* line 119, lib/styles/base/_0-normalize.scss */

button[disabled], html input[disabled] {

  cursor: default; }



/* line 123, lib/styles/base/_0-normalize.scss */

button::-moz-focus-inner, input::-moz-focus-inner {

  border: 0;

  padding: 0; }



/* line 128, lib/styles/base/_0-normalize.scss */

input {

  line-height: normal; }



/* line 132, lib/styles/base/_0-normalize.scss */

input[type="checkbox"], input[type="radio"] {

  box-sizing: border-box;

  padding: 0; }



/* line 137, lib/styles/base/_0-normalize.scss */

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {

  height: auto; }



/* line 141, lib/styles/base/_0-normalize.scss */

input[type="search"] {

  -webkit-appearance: textfield;

  -moz-box-sizing: content-box;

  -webkit-box-sizing: content-box;

  box-sizing: content-box; }



/* line 148, lib/styles/base/_0-normalize.scss */

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {

  -webkit-appearance: none; }



/* line 152, lib/styles/base/_0-normalize.scss */

fieldset {

  border: 1px solid #c0c0c0;

  margin: 0 2px;

  padding: 0.35em 0.625em 0.75em; }



/* line 158, lib/styles/base/_0-normalize.scss */

legend {

  border: 0;

  padding: 0; }



/* line 163, lib/styles/base/_0-normalize.scss */

textarea {

  overflow: auto; }



/* line 167, lib/styles/base/_0-normalize.scss */

optgroup {

  font-weight: bold; }



/* line 171, lib/styles/base/_0-normalize.scss */

table {

  border-collapse: collapse;

  border-spacing: 0; }



/* line 176, lib/styles/base/_0-normalize.scss */

td, th {

  padding: 0; }



/* line 9, lib/styles/base/_1-elements.scss */

html {

  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

  font-weight: 300;

  font-size: 16px; }



/* line 14, lib/styles/base/_1-elements.scss */

body {

  font-size: 100%; }



/* line 33, lib/styles/base/_1-elements.scss */

h1, h2, h3, h4, h5, h6 {

  font-weight: bold; }



/* line 66, lib/styles/base/_1-elements.scss */

a {

  text-decoration: none;

  color: inherit; }



/* line 1, lib/styles/base/_2-structure.scss */

#app {

  position: relative;

  display: table;

  width: 98%;

  border-top: 10px solid white;

  margin: 0 auto;

  -moz-box-sizing: border-box;

  -webkit-box-sizing: border-box;

  box-sizing: border-box; }

  @media only screen and (min-width: 20rem) {

 #app {

  padding-top: 25vh;

	}

}

  @media only screen and (min-width: 110rem) {

    /* line 1, lib/styles/base/_2-structure.scss */

    #app {

      padding-left: 10%;

      padding-right: 10%; } }

  /* line 9, lib/styles/base/_2-structure.scss */

  #app .app--col {

    display: table-cell;

    vertical-align: top; }

    /* line 13, lib/styles/base/_2-structure.scss */

    #app .app--col + .app--col {

      padding-left: 0.5rem; }

    @media only screen and (max-width: 50rem) {

      /* line 9, lib/styles/base/_2-structure.scss */

      #app .app--col {

        display: block;

        width: 100% !important; }

        /* line 19, lib/styles/base/_2-structure.scss */

        #app .app--col + .app--col {

          padding-left: 0; } }

  /* line 24, lib/styles/base/_2-structure.scss */

  #app .col-left {

    width: 15%; }

  /* line 27, lib/styles/base/_2-structure.scss */

  #app .col-right {

    width: 85%; }



/* v1.0.5 */

/* Core RS CSS file. 95% of time you shouldn't change anything here. */

/* line 3, lib/styles/base/_royalSlider.scss */

.acf_slider {

  width: 100%;

  min-height: 300px;

  max-height: 90%;

  position: relative;

  direction: ltr; }



/* line 10, lib/styles/base/_royalSlider.scss */

.acf_slider > * {

  float: left; }



/* line 14, lib/styles/base/_royalSlider.scss */

.rsWebkit3d .rsSlide {

  -webkit-transform: translateZ(0); }



/* line 19, lib/styles/base/_royalSlider.scss */

.rsWebkit3d .rsSlide,

.rsWebkit3d .rsContainer,

.rsWebkit3d .rsThumbs,

.rsWebkit3d .rsPreloader,

.rsWebkit3d img,

.rsWebkit3d .rsOverflow,

.rsWebkit3d .rsBtnCenterer,

.rsWebkit3d .rsAbsoluteEl,

.rsWebkit3d .rsABlock,

.rsWebkit3d .rsLink {

  -webkit-backface-visibility: hidden; }



/* line 31, lib/styles/base/_royalSlider.scss */

.rsFade.rsWebkit3d .rsSlide,

.rsFade.rsWebkit3d img,

.rsFade.rsWebkit3d .rsContainer {

  -webkit-transform: none; }



/* line 36, lib/styles/base/_royalSlider.scss */

.rsOverflow {

  width: 100%;

  height: 100%;

  position: relative;

  overflow: hidden;

  float: left;

  -webkit-tap-highlight-color: transparent; }



/* line 44, lib/styles/base/_royalSlider.scss */

.rsVisibleNearbyWrap {

  width: 100%;

  height: 100%;

  position: relative;

  overflow: hidden;

  left: 0;

  top: 0;

  -webkit-tap-highlight-color: transparent; }



/* line 53, lib/styles/base/_royalSlider.scss */

.rsVisibleNearbyWrap .rsOverflow {

  position: absolute;

  left: 0;

  top: 0; }



/* line 59, lib/styles/base/_royalSlider.scss */

.rsContainer {

  position: relative;

  width: 100%;

  height: 100%;

  -webkit-tap-highlight-color: transparent; }



/* line 66, lib/styles/base/_royalSlider.scss */

.rsArrow,

.rsThumbsArrow {

  cursor: pointer; }



/* line 71, lib/styles/base/_royalSlider.scss */

.rsThumb {

  float: left;

  position: relative; }



/* line 77, lib/styles/base/_royalSlider.scss */

.rsArrow,

.rsNav,

.rsThumbsArrow {

  opacity: 1;

  -webkit-transition: opacity 0.3s linear;

  -moz-transition: opacity 0.3s linear;

  -o-transition: opacity 0.3s linear;

  transition: opacity 0.3s linear; }



/* line 86, lib/styles/base/_royalSlider.scss */

.rsHidden {

  opacity: 0;

  visibility: hidden;

  -webkit-transition: visibility 0s linear 0.3s,opacity 0.3s linear;

  -moz-transition: visibility 0s linear 0.3s,opacity 0.3s linear;

  -o-transition: visibility 0s linear 0.3s,opacity 0.3s linear;

  transition: visibility 0s linear 0.3s,opacity 0.3s linear; }



/* line 96, lib/styles/base/_royalSlider.scss */

.rsGCaption {

  width: 100%;

  float: left;

  text-align: center; }



/*

.acf_slider.rsFullscreen {

	position: fixed !important;

	height: auto !important;

	width: auto !important;

	margin: 0 !important;

	padding: 0 !important;

	z-index: 2147483647 !important;

	top: 0 !important;

	left: 0 !important;

	bottom: 0 !important;

	right: 0 !important;

}

*/

/* line 118, lib/styles/base/_royalSlider.scss */

.acf_slider .rsSlide.rsFakePreloader {

  opacity: 1 !important;

  -webkit-transition: 0s;

  -moz-transition: 0s;

  -o-transition: 0s;

  transition: 0s;

  display: none; }



/* line 127, lib/styles/base/_royalSlider.scss */

.rsSlide {

  position: absolute;

  left: 0;

  top: 0;

  display: block;

  overflow: hidden;

  height: 100%;

  width: 100%; }



/* line 138, lib/styles/base/_royalSlider.scss */

.acf_slider.rsAutoHeight,

.rsAutoHeight .rsSlide {

  height: auto; }



/* line 143, lib/styles/base/_royalSlider.scss */

.rsContent {

  width: 100%;

  height: 100%;

  position: relative; }



/* line 149, lib/styles/base/_royalSlider.scss */

.rsPreloader {

  position: absolute;

  z-index: 0; }



/* line 154, lib/styles/base/_royalSlider.scss */

.rsNav {

  -moz-user-select: -moz-none;

  -webkit-user-select: none;

  user-select: none; }



/* line 159, lib/styles/base/_royalSlider.scss */

.rsNavItem {

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25); }



/* line 163, lib/styles/base/_royalSlider.scss */

.rsThumbs {

  cursor: pointer;

  position: relative;

  overflow: hidden;

  float: left;

  z-index: 22; }



/* line 170, lib/styles/base/_royalSlider.scss */

.rsTabs {

  float: left;

  background: none !important; }



/* line 174, lib/styles/base/_royalSlider.scss */

.rsTabs,

.rsThumbs {

  -webkit-tap-highlight-color: transparent;

  -webkit-tap-highlight-color: transparent; }



/* line 181, lib/styles/base/_royalSlider.scss */

.rsVideoContainer {

  /*left: 0;

  top: 0;

  position: absolute;*/

  /*width: 100%;

  height: 100%;

  position: absolute;

  left: 0;

  top: 0;

  float: left;*/

  width: auto;

  height: auto;

  line-height: 0;

  position: relative; }



/* line 196, lib/styles/base/_royalSlider.scss */

.rsVideoFrameHolder {

  position: absolute;

  left: 0;

  top: 0;

  background: #141414;

  opacity: 0;

  -webkit-transition: .3s; }



/* line 204, lib/styles/base/_royalSlider.scss */

.rsVideoFrameHolder.rsVideoActive {

  opacity: 1; }



/* line 207, lib/styles/base/_royalSlider.scss */

.rsVideoContainer iframe,

.rsVideoContainer video,

.rsVideoContainer embed,

.rsVideoContainer .rsVideoObj {

  position: absolute;

  z-index: 50;

  left: 0;

  top: 0;

  width: 100%;

  height: 100%; }



/* ios controls over video bug, shifting video */

/* line 219, lib/styles/base/_royalSlider.scss */

.rsVideoContainer.rsIOSVideo iframe,

.rsVideoContainer.rsIOSVideo video,

.rsVideoContainer.rsIOSVideo embed {

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

  padding-right: 44px; }



/* line 228, lib/styles/base/_royalSlider.scss */

.rsABlock {

  left: 0;

  top: 0;

  position: absolute;

  z-index: 15; }



/* line 236, lib/styles/base/_royalSlider.scss */

img.rsImg {

  max-width: none; }



/* line 240, lib/styles/base/_royalSlider.scss */

.grab-cursor {

  cursor: url(grab.png) 8 8, move; }



/* line 244, lib/styles/base/_royalSlider.scss */

.grabbing-cursor {

  cursor: url(grabbing.png) 8 8, move; }



/* line 248, lib/styles/base/_royalSlider.scss */

.rsNoDrag {

  cursor: auto; }



/* line 252, lib/styles/base/_royalSlider.scss */

.rsLink {

  left: 0;

  top: 0;

  position: absolute;

  width: 100%;

  height: 100%;

  display: block;

  z-index: 20;

  background: url(blank.gif); }



/* line 2, lib/styles/modules/_action-bar.scss */

.action-bar {

  display: block;

  margin: .25rem 0;

  padding: .75rem 0;

  border-style: solid;

  border-color: #DDDDDD;

  border-width: 1px 0; }

  /* line 9, lib/styles/modules/_action-bar.scss */

  .action-bar > * {

    display: inline-block; }

  @media only screen and (max-width: 50rem) {

    /* line 2, lib/styles/modules/_action-bar.scss */

    .action-bar {

      text-align: center; } }



/* line 1, lib/styles/modules/_footer.scss */

footer {

  bottom: 0;

background: white;

height: 15px;

position: relative;

padding: 1.5em;

margin-bottom: 4em;

z-index: -1;

text-align: center; }

  @media only screen and (min-width: 110rem) {

    /* line 1, lib/styles/modules/_footer.scss */

    footer {

      position:relative;

      padding-left: 10%;

      padding-right: 10%; } }



/* line 1, lib/styles/modules/_forms.scss */

.input-wrap {

  display: table-row; }

  /* line 3, lib/styles/modules/_forms.scss */

  .input-wrap > * {

    display: table-cell;

    padding: .5rem 1rem; }



/* line 9, lib/styles/modules/_forms.scss */

.wpcf7-form-control,

.form-control {

  -moz-appearance: none;

  -webkit-appearance: none;

  -moz-box-sizing: border-box;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;

  position: relative;

  z-index: 1;

  width: 100%;

  margin: 0;

  padding: .5rem;

  border: 1px solid #DDDDDD; }

  /* line 18, lib/styles/modules/_forms.scss */

  .wpcf7-form-control:hover,

  .form-control:hover, .wpcf7-form-control:focus,

  .form-control:focus {

    z-index: 2; }

  /* line 19, lib/styles/modules/_forms.scss */

  .wpcf7-form-control:focus,

  .form-control:focus {

    outline: 1px solid black;

    border-color: transparent; }



/* line 1, lib/styles/modules/_header.scss */

header#top {

  position: fixed;

  z-index: 9;

  display: table;

  margin: 0;

  padding: 1em;

  width: 100%;

  -moz-box-sizing: border-box;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;

  background: rgba(255, 255, 255, 0.95);

  border-bottom: 4px solid #000; }

  /* line 14, lib/styles/modules/_header.scss */

  header#top > * {

    display: table-cell;

    vertical-align: middle; }

  @media only screen and (min-width: 110rem) {

    /* line 1, lib/styles/modules/_header.scss */

    header#top {

      padding-left: 10%;

      padding-right: 10%; } }

  @media only screen and (max-width: 40rem) {

    /* line 21, lib/styles/modules/_header.scss */

    header#top, header#top > * {

      display: block;

      text-align: left; } }

@media only screen and (min-width: 20rem) {

 header#top {

  position: absolute;

	}

}



/* line 29, lib/styles/modules/_header.scss */

#brand {

  width: 32.5%;

  line-height: 2.5rem;

  font-weight: 700;

  font-family: 'Oswald', sans-serif; }

  @media only screen and (max-width: 40rem) {

    /* line 29, lib/styles/modules/_header.scss */

    #brand {

      width: 100%;

      line-height: 1; } }



/* line 2, lib/styles/modules/_menu.scss */

.menu {

  width: 100%;

  text-align: right; }





/* line 8, lib/styles/modules/_menu.scss */

.menu--item {

  line-height: 1;

  padding: 0 .2em .2em; }



/* line 15, lib/styles/modules/_menu.scss */

.menu ul {

  font-family: 'Oswald';

  font-variant: small-caps;

  text-transform: lowercase;

  letter-spacing: .025rem;

  font-size: 1.325rem; }



/* line 23, lib/styles/modules/_menu.scss */

.menu li a {

  display: inline-block;

  padding: .5em; }



@media only screen and (min-width: 20rem) {

 .menu li a {

  padding: .025rem;

	}

}



/* line 1, lib/styles/modules/_project-list.scss */

.project-list {

  display: table;

  width: 100%;

  padding: .5em 0;

  background: #fff;

  position: fixed;

  bottom: 0;

  font-family: 'Oswald';

  letter-spacing: .02125rem;

  font-size: 1.2125rem;

  font-size: 1em;

  -moz-box-sizing: border-box;

  -webkit-box-sizing: border-box;

  box-sizing: border-box; }

  /* line 17, lib/styles/modules/_project-list.scss */

  .project-list a {

    padding: 0.125rem 0.5rem;

    display: table-cell;

    background: rgba(255, 255, 255, 0.9); }

    @media only screen and (max-width: 50rem) {

      /* line 17, lib/styles/modules/_project-list.scss */

      .project-list a {

        display: inline-block;

        margin: 0; } }

    /* line 26, lib/styles/modules/_project-list.scss */

    .project-list a:hover {

      background: lightgray; }

    /* line 29, lib/styles/modules/_project-list.scss */

    .project-list a.current {

      pointer-events: none;

      background: rgba(0, 0, 0, 0.9); }

  /* line 34, lib/styles/modules/_project-list.scss */

  .project-list li {

    line-height: 40px; }

  /* line 37, lib/styles/modules/_project-list.scss */

  aside.app--col .project-list {

    position: fixed;

    width: 100%;

    max-height: 45px;

    bottom: 0;

    overflow: scroll;

    border-bottom: 1px solid #DDD; }

    @media only screen and (max-width: 50rem) {

      /* line 37, lib/styles/modules/_project-list.scss */

      aside.app--col .project-list {

        display: inline-block;

        position: relative !important;

        width: 100% !important;

        height: 75px;

        overflow-x: scroll; } }



/* line 54, lib/styles/modules/_project-list.scss */

.layout-option-icon {

  float: right;

  padding: 3px 1.25rem 3px 0 !important; }



/* line 59, lib/styles/modules/_project-list.scss */

.project-title {

  display: block;

  color: #fff;

  clear: both;

  background: #1a1a1a;

  padding: 1.75em 1.5em;

  font-family: 'Oswald';

  font-variant: small-caps;

  font-size: 1.5rem;

  font-weight: 400;

  text-transform: lowercase;

  letter-spacing: .2em;

  color: #1a1a1a;

  background: #fff;

  text-align: right; }

  @media only screen and (max-width: 50rem) {

    /* line 59, lib/styles/modules/_project-list.scss */

    .project-title {

      text-align: center; } }

  /* line 76, lib/styles/modules/_project-list.scss */

  .project-title span {

    color: #1a1a1a;

    font-size: .75rem;

    font-variant: normal;

    text-transform: uppercase;

    padding-top: 5px;

    line-height: 20px; }



/* line 90, lib/styles/modules/_project-list.scss */

.open-slider-icon {

  -moz-appearance: none;

  -webkit-appearance: none;

  font-weight: 700;

  text-transform: uppercase;

  display: inline-block;

  padding: 3px 0 3px 1.25rem !important;

  font-size: .75rem;

  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

  font-size: .75rem;

  letter-spacing: 0;

  border: 0;

  background-color: transparent;

  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxMDI0IiB3aWR0aD0iODk2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0zODQgMzg0aDEyOFYxOTJoMTI4TDQ0OCAwIDI1NiAxOTJoMTI4VjM4NHpNNTc2IDI1NnY2NGgyMjRMNjcyIDQ0OEgyMjRMOTYgMzIwaDIyNHYtNjRIMHY2My45OTlMMTYwIDQ4MCAwIDY0MHY2NGgzMjB2LTY0SDk2bDEyOC0xMjhoNDQ4bDEyOCAxMjhINTc2djY0aDMyMHYtNjRMNzM2IDQ4MGwxNjAtMTYwLjAwMVYyNTZINTc2ek01MTIgNTc2SDM4NHYxOTJIMjU2bDE5MiAxOTIgMTkyLTE5Mkg1MTJWNTc2eiIvPjwvc3ZnPg==);

  background-repeat: no-repeat;

  background-size: .9rem;

  background-position: left center; }

  /* line 108, lib/styles/modules/_project-list.scss */

  .project-title .open-slider-icon {

    text-transform: capitalize !important;

    font-variant: normal; }



/* line 4, lib/styles/modules/_royalSlider-custom.scss */

.acf_slider {

  min-height: 75%;

  max-height: 875px; }



/* line 10, lib/styles/modules/_royalSlider-custom.scss */

.acf_slider-fullscreen {

  position: fixed;

  z-index: 9;

  top: 0;

  left: 0;

  overflow: hidden;

  display: table;

  width: 100%;

  height: 100%;

  background: rgba(0, 0, 0, 0.875);

  opacity: 0;

  pointer-events: none;

  -moz-transition: opacity 0.25s ease-in-out;

  -o-transition: opacity 0.25s ease-in-out;

  -webkit-transition: opacity 0.25s ease-in-out;

  transition: opacity 0.25s ease-in-out; }

  /* line 30, lib/styles/modules/_royalSlider-custom.scss */

  .acf_slider-fullscreen.show {

    opacity: 1;

    pointer-events: auto;

    -moz-transition: opacity 0.25s ease-in-out;

    -o-transition: opacity 0.25s ease-in-out;

    -webkit-transition: opacity 0.25s ease-in-out;

    transition: opacity 0.25s ease-in-out; }

  /* line 40, lib/styles/modules/_royalSlider-custom.scss */

  .acf_slider-fullscreen .acf_slider-fullscreen-inner {

    display: table-cell;

    vertical-align: middle; }



/* line 47, lib/styles/modules/_royalSlider-custom.scss */

.acf_slider-fullscreen--close {

  -moz-box-sizing: content-box;

  -webkit-box-sizing: content-box;

  box-sizing: content-box;

  -moz-appearance: none;

  -webkit-appearance: none;

  z-index: 9;

  position: fixed;

  top: 2rem;

  right: 2rem;

  padding: .25rem;

  display: block;

  width: 1.25rem;

  height: 1.25rem;

  font-size: 0;

  color: transparent;

  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgODk2IDEwMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDg5NiAxMDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik04OTYsMjU2SDY3MmwtNjQsNjRoMTkyTDY3Miw0NDhIMjI0TDk2LDMyMGgxOTJsLTY0LTY0SDB2NjRsMTYwLDE2MEwwLDY0MHY2NGgyMjRsNjQtNjRIOTZsMTI4LTEyOGg0NDgNCglsMTI4LDEyOEg2MDhsNjQsNjRoMjI0di02NEw3MzYsNDgwbDE2MC0xNjBWMjU2eiBNNjQwLDE5Mkg1MTJWMEgzODR2MTkySDI1NmwxOTIsMTkyTDY0MCwxOTJ6IE0yNTYsNzY4aDEyOHYxOTJoMTI4Vjc2OGgxMjgNCglMNDQ4LDU3NkwyNTYsNzY4eiIvPg0KPC9zdmc+DQo=);

  background-size: 23px auto;

  background-repeat: no-repeat;

  background-position: center;

  background-color: transparent;

  border: 2px solid transparent;

  border-radius: 100%;

  -moz-transform: rotate(45deg);

  -ms-transform: rotate(45deg);

  -webkit-transform: rotate(45deg);

  transform: rotate(45deg);

  -moz-transition: background-color 0.12s linear, border 0.12s ease-out, background-size 0.2s ease-in, -moz-transform 0.15s ease-out;

  -o-transition: background-color 0.12s linear, border 0.12s ease-out, background-size 0.2s ease-in, -o-transform 0.15s ease-out;

  -webkit-transition: background-color 0.12s linear, border 0.12s ease-out, background-size 0.2s ease-in, -webkit-transform 0.15s ease-out;

  transition: background-color 0.12s linear, border 0.12s ease-out, background-size 0.2s ease-in, transform 0.15s ease-out; }

  /* line 76, lib/styles/modules/_royalSlider-custom.scss */

  .acf_slider-fullscreen--close:hover, .acf_slider-fullscreen--close:focus {

    background-size: 14px auto;

    border: 2px solid white;

    background-color: white;

    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxMDI0IiB3aWR0aD0iODk2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik04OTYgMjU2SDY3MmwtNjQgNjRoMTkyTDY3MiA0NDhIMjI0TDk2IDMyMGgxOTJsLTY0LTY0SDB2NjMuOTk5TDE2MCA0ODAgMCA2NDB2NjRoMjI0bDY0LTY0SDk2bDEyOC0xMjhoNDQ4bDEyOCAxMjhINjA4bDY0IDY0aDIyNHYtNjRMNzM2IDQ4MGwxNjAtMTYwLjAwMVYyNTZ6TTY0MCAxOTJINTEyVjBIMzg0djE5MkgyNTZsMTkyIDE5Mkw2NDAgMTkyek0yNTYgNzY4aDEyOHYxOTJoMTI4Vjc2OGgxMjhMNDQ4IDU3NiAyNTYgNzY4eiIvPjwvc3ZnPg==);

    outline: none;

    -moz-transform: rotate(0deg);

    -ms-transform: rotate(0deg);

    -webkit-transform: rotate(0deg);

    transform: rotate(0deg);

    -moz-transition: background-color 0.12s linear, border 0.12s ease-in, background-size 0.2s ease-in, -moz-transform 0.15s ease-in;

    -o-transition: background-color 0.12s linear, border 0.12s ease-in, background-size 0.2s ease-in, -o-transform 0.15s ease-in;

    -webkit-transition: background-color 0.12s linear, border 0.12s ease-in, background-size 0.2s ease-in, -webkit-transform 0.15s ease-in;

    transition: background-color 0.12s linear, border 0.12s ease-in, background-size 0.2s ease-in, transform 0.15s ease-in; }



/* line 89, lib/styles/modules/_royalSlider-custom.scss */

.rsMainSlideImage {

  border: 10px solid rgba(255, 255, 255, 0.115);

  box-sizing: border-box; }

  @media only screen and (max-width: 50rem) {

    /* line 89, lib/styles/modules/_royalSlider-custom.scss */

    .rsMainSlideImage {

      border-width: 0; } }



/* line 97, lib/styles/modules/_royalSlider-custom.scss */

.rsSlide > div {

  position: relative;

  display: inline-block; }

  /* line 100, lib/styles/modules/_royalSlider-custom.scss */

  .rsSlide > div .rsTtl {

    position: absolute;

    bottom: 20px;

    right: 20px;

    display: block;

    color: #FFF;

    opacity: .325;

    -moz-transition: opacity 0.2s ease-in-out;

    -o-transition: opacity 0.2s ease-in-out;

    -webkit-transition: opacity 0.2s ease-in-out;

    transition: opacity 0.2s ease-in-out; }

    /* line 108, lib/styles/modules/_royalSlider-custom.scss */

    .rsSlide > div .rsTtl:hover {

      opacity: 1;

      -moz-transition: opacity 0.2s ease-in-out;

      -o-transition: opacity 0.2s ease-in-out;

      -webkit-transition: opacity 0.2s ease-in-out;

      transition: opacity 0.2s ease-in-out; }



/* line 115, lib/styles/modules/_royalSlider-custom.scss */

.rsArrow {

  z-index: 9;

  position: fixed;

  top: 0;

  display: table !important;

  width: 15%;

  height: 100%;

  margin-top: -1rem !important; }

  /* line 123, lib/styles/modules/_royalSlider-custom.scss */

  .rsArrow .rsArrowIcn {

    display: table-cell;

    -moz-background-size: 30px auto;

    -o-background-size: 30px auto;

    -webkit-background-size: 30px auto;

    background-size: 30px auto;

    background-position: center;

    background-repeat: no-repeat; }

  /* line 129, lib/styles/modules/_royalSlider-custom.scss */

  .rsArrow.rsArrowRight {

    right: 0; }

    /* line 131, lib/styles/modules/_royalSlider-custom.scss */

    .rsArrow.rsArrowRight .rsArrowIcn {

      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxMDI0IiB3aWR0aD0iNDQ4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xMjggMTkyTDAgMzIwbDE5MiAxOTJMMCA3MDRsMTI4IDEyOCAzMjAtMzIwTDEyOCAxOTJ6Ii8+PC9zdmc+);

      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNDQ4IDEwMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQ0OCAxMDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xMjgsMTkyTDAsMzIwbDE5MiwxOTJMMCw3MDRsMTI4LDEyOGwzMjAtMzIwTDEyOCwxOTJ6Ii8+DQo8L3N2Zz4NCg==); }

  /* line 136, lib/styles/modules/_royalSlider-custom.scss */

  .rsArrow.rsArrowLeft {

    left: 0; }

    /* line 138, lib/styles/modules/_royalSlider-custom.scss */

    .rsArrow.rsArrowLeft .rsArrowIcn {

      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxMDI0IiB3aWR0aD0iNDQ4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik00NDggMzIwTDMyMCAxOTIgMCA1MTJsMzIwIDMyMCAxMjgtMTI4TDI1NiA1MTIgNDQ4IDMyMHoiLz48L3N2Zz4=);

      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNDQ4IDEwMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQ0OCAxMDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik00NDgsMzIwTDMyMCwxOTJMMCw1MTJsMzIwLDMyMGwxMjgtMTI4TDI1Niw1MTJMNDQ4LDMyMHoiLz4NCjwvc3ZnPg0K); }

  @media only screen and (max-width: 50rem) {

    /* line 115, lib/styles/modules/_royalSlider-custom.scss */

    .rsArrow {

      opacity: .5;

      top: initial;

      bottom: 2.5rem;

      width: 50%;

      height: 2rem;

      padding: .75rem .5rem; }

      /* line 151, lib/styles/modules/_royalSlider-custom.scss */

      .rsArrow .rsArrowIcn {

        -moz-background-size: 18px auto;

        -o-background-size: 18px auto;

        -webkit-background-size: 18px auto;

        background-size: 18px auto; }

      /* line 154, lib/styles/modules/_royalSlider-custom.scss */

      .rsArrow + .rsArrow {

        border-left: 1px solid black; } }



/* line 161, lib/styles/modules/_royalSlider-custom.scss */

.rsNav.rsBullets {

  display: table;

  position: fixed;

  bottom: 0;

  left: 0;

  width: 100%;

  height: 1rem;

  background: rgba(0, 0, 0, 0.75);

  border-top: 1px solid rgba(0, 0, 0, 0.5); }



/* line 171, lib/styles/modules/_royalSlider-custom.scss */

.rsNavItem.rsBullet {

  display: table-cell;

  position: relative;

  z-index: 0;

  background: rgba(255, 255, 255, 0.5);

  -moz-transition: background 0.325s ease-in-out, border-color 0.325s ease-in-out, -moz-transform 0.125s ease-in-out;

  -o-transition: background 0.325s ease-in-out, border-color 0.325s ease-in-out, -o-transform 0.125s ease-in-out;

  -webkit-transition: background 0.325s ease-in-out, border-color 0.325s ease-in-out, -webkit-transform 0.125s ease-in-out;

  transition: background 0.325s ease-in-out, border-color 0.325s ease-in-out, transform 0.125s ease-in-out;

  cursor: pointer; }

  /* line 178, lib/styles/modules/_royalSlider-custom.scss */

  .rsNavItem.rsBullet:hover {

    z-index: 1;

    -moz-transform: scaleY(1.25);

    -ms-transform: scaleY(1.25);

    -webkit-transform: scaleY(1.25);

    transform: scaleY(1.25);

    background: rgba(255, 255, 255, 0.625) !important; }



/* line 185, lib/styles/modules/_royalSlider-custom.scss */

.rsNavItem.rsBullet.rsNavSelected ~ * {

  background: rgba(255, 255, 255, 0.25);

  -moz-transition: background 0.325s ease-in-out, border-color 0.325s ease-in-out, -moz-transform 0.125s ease-in-out;

  -o-transition: background 0.325s ease-in-out, border-color 0.325s ease-in-out, -o-transform 0.125s ease-in-out;

  -webkit-transition: background 0.325s ease-in-out, border-color 0.325s ease-in-out, -webkit-transform 0.125s ease-in-out;

  transition: background 0.325s ease-in-out, border-color 0.325s ease-in-out, transform 0.125s ease-in-out; }



/* line 190, lib/styles/modules/_royalSlider-custom.scss */

.rsNavItem.rsBullet.rsNavSelected {

  pointer-events: none;

  -moz-transform: scaleY(2);

  -ms-transform: scaleY(2);

  -webkit-transform: scaleY(2);

  transform: scaleY(2);

  background: rgba(255, 255, 255, 0.825) !important;

  -moz-transition: background 0.325s ease-in-out, border-color 0.325s ease-in-out, -moz-transform 0.125s ease-in-out;

  -o-transition: background 0.325s ease-in-out, border-color 0.325s ease-in-out, -o-transform 0.125s ease-in-out;

  -webkit-transition: background 0.325s ease-in-out, border-color 0.325s ease-in-out, -webkit-transform 0.125s ease-in-out;

  transition: background 0.325s ease-in-out, border-color 0.325s ease-in-out, transform 0.125s ease-in-out; }



/* line 1, lib/styles/modules/_thirds-grid.scss */

.grid {

  position: relative;

  width: 100%;

  position: relative; }

  /* line 6, lib/styles/modules/_thirds-grid.scss */

  .grid .grid--box {

    position: relative;

    float: left;

    display: table;

    vertical-align: middle;

    width: 100%;

    height: 575px;

    text-align: center;

    background-position: center;

    background-position: center 25%;

    background-size: contain;

    background-repeat: no-repeat;

    -webkit-filter: grayscale(0);

    filter: grayscale(0);

    -moz-transition: filter 0.25s ease-in-out;

    -o-transition: filter 0.25s ease-in-out;

    -webkit-transition: filter 0.25s ease-in-out;

    transition: filter 0.25s ease-in-out;

    -moz-box-sizing: border-box;

    -webkit-box-sizing: border-box;

    box-sizing: border-box;

    border: solid white;

    border-width: 3px 3px 0 0; }

@media only screen and (min-width: 20rem) {

 .grid .grid--box {

  height: auto;

	}

}



@media only screen and (max-width: 40rem) {

 .home .grid .grid--box .box--meta, .single-projects .grid .grid--box .box--meta {

	opacity:1;

    background: white;

    padding: 10px;

    display: table-caption;

	min-width:40rem;

width:auto;

	}

.home .grid .grid--box .meta--inner{

	padding:0;

}





	}

    /* line 31, lib/styles/modules/_thirds-grid.scss */

    .grid .grid--box:nth-child(3n) {

      border-width: 3px 0 0; }

    @media only screen and (max-width: 65rem) {

      /* line 6, lib/styles/modules/_thirds-grid.scss */

      .grid .grid--box {

        width: 100% !important;

        height: auto;

        border-width: 3px 0 0; } }

    /* line 39, lib/styles/modules/_thirds-grid.scss */

    .page-template-project-php .grid .grid--box {

      border-width: 0; }

    /* line 43, lib/styles/modules/_thirds-grid.scss */

    .grid .grid--box .meta--inner {

      height: 80px;

      padding: 10px;

display:table-cell;

      vertical-align: bottom; }

    /* line 50, lib/styles/modules/_thirds-grid.scss */

    .grid .grid--box .box--meta {

      height: inherit;

      padding: 10px;

      background: transparent;

      opacity: 0;

      list-style-type: none;

      -moz-transition: background 0.25s ease-in-out, opacity 0.25s ease-in-out;

      -o-transition: background 0.25s ease-in-out, opacity 0.25s ease-in-out;

      -webkit-transition: background 0.25s ease-in-out, opacity 0.25s ease-in-out;

      transition: background 0.25s ease-in-out, opacity 0.25s ease-in-out;

      color: #555;

      vertical-align: middle;

      width: 375px;

      text-align: left;

      display: table-cell; }

    /* line 64, lib/styles/modules/_thirds-grid.scss */

    .grid .grid--box:hover {

      -webkit-filter: grayscale(0);

      filter: grayscale(0);

      -moz-transition: filter 0.25s ease-in-out;

      -o-transition: filter 0.25s ease-in-out;

      -webkit-transition: filter 0.25s ease-in-out;

      transition: filter 0.25s ease-in-out; }

      /* line 67, lib/styles/modules/_thirds-grid.scss */

      .grid .grid--box:hover .box--meta {

        background: rgba(255, 255, 255, 0.75);

        opacity: 1;

        -moz-transition: background 0.25s ease-in-out, opacity 0.25s ease-in-out;

        -o-transition: background 0.25s ease-in-out, opacity 0.25s ease-in-out;

        -webkit-transition: background 0.25s ease-in-out, opacity 0.25s ease-in-out;

        transition: background 0.25s ease-in-out, opacity 0.25s ease-in-out; }

    /* line 74, lib/styles/modules/_thirds-grid.scss */

    .single-projects .grid .grid--box .box--meta {

      position: absolute;

      left: 0;

      top: 0;

      display: table;

      width: 100%;

      padding: 0;

      background: transparent; }

      /* line 82, lib/styles/modules/_thirds-grid.scss */

      .single-projects .grid .grid--box .box--meta .meta--inner {

        display: table-cell;

        vertical-align: bottom; }

      /* line 86, lib/styles/modules/_thirds-grid.scss */

      .single-projects .grid .grid--box .box--meta .meta--inner > div {

        padding: 1em .5em;

        background: rgba(255, 255, 255, 0.75); }

      /* line 90, lib/styles/modules/_thirds-grid.scss */

      .touch .single-projects .grid .grid--box .box--meta {

        opacity: 1; }

    /* line 94, lib/styles/modules/_thirds-grid.scss */

    .archive .grid .grid--box .box--meta {

      position: absolute;

      left: 0;

      top: 0;

      display: table;

      width: 100%;

      padding: 0;

      background: transparent; }

      /* line 102, lib/styles/modules/_thirds-grid.scss */

      .archive .grid .grid--box .box--meta .meta--inner {

        display: table-cell;

        vertical-align: bottom; }

      /* line 106, lib/styles/modules/_thirds-grid.scss */

      .archive .grid .grid--box .box--meta .meta--inner > div {

        padding: 1em .5em;

        background: rgba(255, 255, 255, 0.75); }

      /* line 110, lib/styles/modules/_thirds-grid.scss */

      .touch .archive .grid .grid--box .box--meta {

        opacity: 1; }

  /* line 115, lib/styles/modules/_thirds-grid.scss */

  .grid .grid--box-motion {

    float: left;

    display: table;

    vertical-align: middle;

    width: 100%;

    height: 575px;

    text-align: center; }



/* line 1, lib/styles/modules/_vimeo_embed.scss */

iframe[src*="player.vimeo.com"] {

  width: 100%;

  height: 100%; }



/* line 1, lib/styles/modules/_wp-dropdowns.scss */

.page_item_has_children {

  position: relative; }

  /* line 5, lib/styles/modules/_wp-dropdowns.scss */

  .page_item_has_children.current_page_ancestor {

    background-color: transparent;

    color: black;

    font-weight: bold; }

  /* line 11, lib/styles/modules/_wp-dropdowns.scss */

  .page_item_has_children .children {

    display: none; }

    /* line 13, lib/styles/modules/_wp-dropdowns.scss */

    .page_item_has_children .children .page_item {

      display: block; }

  /* line 21, lib/styles/modules/_wp-dropdowns.scss */

  .page_item_has_children.current_page_ancestor .children, .page_item_has_children.current_page_item .children, .page_item_has_children:hover .children {

    position: absolute;

    top: 100%;

    left: 0;

    display: block;

    width: 100%;

    padding: 10px 0 0;

    color: #202020;

    text-align: center;

    font-weight: normal; }