
.action-bar {
	display: block;
	margin: .25rem 0;
	padding: .75rem 0;
	border-style: solid;
	border-color: $ui-border;
	border-width: 1px 0;
	> * {
		display: inline-block;
	}
	@include mq(m,max-width) {
		text-align: center;
	}
}