header#top {
	position: fixed;
	z-index:9;

	display: table;
	margin: 0;
	padding: 1em;
	width:100%;
	@include box-sizing(border-box);
	
	background: rgba(white,.95);
	border-bottom: 4px solid #000;

	> * {
		display: table-cell;
		vertical-align: middle;
	}

	@include center-app();
	@include mq(s,max-width) {
		&, & > * {
			display: block;
			text-align: left;
		}
	}

}

#brand { 
	width: 32.5%;
	line-height: 2.5rem;
	font-weight:400;
	font-family:'Oswald', sans-serif;
	@include mq(s,max-width) {
		width: 100%;
		line-height: 1;
	}
}