
.menu {
	@extend .inline-list;
	width: 100%;
	text-align: right;
}

.menu--item {
	@extend %inline-list--item;
	line-height: 1;
	padding: 0 .2em .2em; //==! FIXES OSWALD'S INACURATE LINE-HEIGHT
}


.menu ul {
	font-family: 'Oswald';
	font-variant: small-caps;
	text-transform: lowercase;
	letter-spacing: .025rem;
	font-size: 1.325rem;
}

.menu li a {
	display: inline-block;
	padding: .5em;
}