.grid {
	position: relative;
	width: 100%;
	position: relative;

	.grid--box {
		position: relative;
		float: left;

		display: table;
		vertical-align: middle;

		width: 100%;
    	height: 575px;

		text-align: center;
		text-transform:uppercase;

		background-position: center;
		background-position: center 25%;
		background-size: contain;
		background-repeat:no-repeat;


		@include filter(grayscale(0));
		@include transition(filter .25s ease-in-out);
		
		@include box-sizing(border-box);
		border: solid white;
		border-width: 3px 3px 0 0;
		&:nth-child(3n) {
			border-width: 3px 0 0;
		}
		@include mq(l,max-width) {
			width: 100%!important;
			height: auto;
			border-width: 3px 0 0;
		}
		.page-template-project-php & {
			border-width: 0;
		}

		.meta--inner {
			height: 80px;
			padding:10px;
			display: table-cell;
			vertical-align: bottom;  
		}

		.box--meta {
			height: inherit;
			padding: 10px;
			background: transparent;
			opacity: 0;
			list-style-type: none;
			@include transition(background .25s ease-in-out, opacity .25s ease-in-out);
			color: #555;
			vertical-align: middle;
			width: 375px;
			text-align: left;
			display: table-cell;
		}

		&:hover {
			@include filter(grayscale(0));
			@include transition(filter .25s ease-in-out);
			.box--meta {
				background: rgba(white,.75);
				opacity: 1;
				@include transition(background .25s ease-in-out, opacity .25s ease-in-out);
			}
		}
		.single-projects & {
			.box--meta {
				position: absolute;
				left: 0;
				top: 0;
				display: table;
				width: 100%;
				padding: 0;
				background: transparent;
				.meta--inner {
					display: table-cell;
					vertical-align: bottom;
				}
				.meta--inner > div {
					padding: 1em .5em;
					background: rgba(white,.75);	
				}
				.touch & { opacity: 1; }
			}
		}
		.archive & {
			.box--meta {
				position: absolute;
				left: 0;
				top: 0;
				display: table;
				width: 100%;
				padding: 0;
				background: transparent;
				.meta--inner {
					display: table-cell;
					vertical-align: bottom;
				}
				.meta--inner > div {
					padding: 1em .5em;
					background: rgba(white,.75);	
				}
				.touch & { opacity: 1; }
			}
		}
	}

	.grid--box-motion{
		float: left;
		display: table;
		vertical-align: middle;
		width: 100%;
		height: 575px;
		text-align: center;
	}
}
