#app {
	position: relative;
	display: table;
	width: 98%;
	border-top: 10px solid white;
	margin: 0 auto;
    @include box-sizing(border-box);
    @include center-app();
    .app--col {
        display: table-cell;
        vertical-align: top;
        // padding: nth($gutter,3) 0;
        + .app--col {
            padding-left: nth($gutter,3);
        }
        @include mq(m,max-width) {
            display: block;
            width: 100% !important;
            + .app--col {
                padding-left: 0;
            }
        }
    }
    .col-left {
        width: 15%;
    }
    .col-right {
        width: 85%;
    }
}